pkgbase = yt-dlp_youtube-dl
	pkgdesc = Provide both youtube-dl command and python imports using yt-dlp (originally, a symlink for using yt-dlp as a youtube-dl dropin replacement) 
	pkgver = 1
	pkgrel = 1
	url = https://github.com/yt-dlp/yt-dlp
	arch = any
	license = The Unlicense
	depends = yt-dlp
	provides = youtube-dl
	conflicts = youtube-dl, yt-dlp-drop-in

pkgname = yt-dlp_youtube-dl
